#account-section {
    background: var(--clr-tertiary);
    margin-top: 60px;
}

#account-details {
    text-align: center;
}

.box {
    margin-bottom: 10px;
    text-align: left;
    width: 80%;
}

.box:hover {
    color: var(--clr-secondary);
    background: white;
    border: 1px solid var(--clr-primary);
}

.container {
    text-align: left;
    margin-left: 20px;
}

.commentaires {
    margin-bottom: 7vh;
}

form {
    display: block;
}

input[type=text],
input[name="newCommentaire"] {
    margin-bottom: 10px;
    padding: 5px 0 5px 5px;
    border-radius: 7px;
    border: 1px solid #e1e1e1;
}

input[name="newCommentaire"]::placeholder {
    color: #e1e1e1;
}

input[type=submit] {
    color: white;
    background-color: var(--clr-primary);
    border: none;
    border-radius: 7px;
    padding: 7px;
}
