#account-section {
    background: var(--clr-tertiary);
    margin-top: 60px;
}

#account-details {
    text-align: center;
}

.box {
    margin-bottom: 7vh;
    text-align: left;
    width: 80%;
}

.box:hover {
    color: var(--clr-secondary);
    background: white;
    border: 1px solid var(--clr-primary);
}

.container {
    text-align: left;
    margin-left: 20px;
}