@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
/* Base */
:root {
    --clr-primary: #fe5722;
    --clr-secondary: #272d36;
    --clr-tertiary: #fff5f2;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: var(--clr-secondary);
    overflow-x: hidden;
}

.section {
    width: 100%;
    padding: 40px 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 0 30px;
}

.primary {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}

.secondary {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tertiary {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    padding: 14px 20px;
    background: var(--clr-primary);
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    margin: 20px 0;
}

/* End Base */

/* Menu */
nav {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--clr-tertiary);
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.22);
    z-index: 22;
}

label.logo {
    font-size: 25px;
    line-height: 60px;
    padding:  0 30px;
    font-weight: 700;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 20px;
    padding: 7px 13px;
    text-decoration: none;
    color: var(--clr-secondary);
}

nav ul li img {
    width: 30px;
    height: auto;
    margin-top: 7px;
}

nav ul li img:hover {
    cursor: pointer;
}

.menu a.active,
.menu a:hover {
    border-bottom: 2px solid var(--clr-primary);
    transition: 0.3s;
}
/* End Menu */

/* Hero Section */
#hero-section {
    background: var(--clr-tertiary);
    margin-top: 60px;
}

.text,
.visual {
    width: 50%;
}

.text {
    margin: 0 20px;
}

.visual img {
    width: 80%;
    height: auto;
    display: block;
}

#hero-section .text {
    margin-left: 30px;
}

#hero-section .visual img {
    margin-left: auto;
}
/* End Hero Section */

/* How It Works */
#how-it-works {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25vh;
    text-align: center;
}


.resto {
    width: 20vh;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}
/* End How It Works */



/* Restaurant Menu */
.category {
    list-style: none;
    text-align: center;
    margin: 20px 0 40px 0;
}

.category li {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.category li.active {
    color: var(--clr-primary);
}

.restaurant-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.order {
    justify-content: space-between;
}

.btn-menu {
    padding: 6px 10px;
    font-size: 16px;
    text-align: center;
    background: #fff;
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary);
}

.title {
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0;
}

.location {
    font-size: 18px;
    font-weight: 500;
}
/* End Restaurant Menu */

/* Footer */
.footer {
    background: var(--clr-tertiary);
    color: var(--clr-secondary);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.footer .container {
    justify-content: space-between;
    align-items: flex-start;
}

.footer h2 {
    font-size: 15px;
    margin-bottom: 10px;
}
.footer p {
    font-size: 10px;
}

.footer ul {
    list-style: none;
    line-height: 10px;
    font-size: 10px;
}

.footer ul li {
    cursor: pointer;
}

.footer-about {
    width: 35%;
}

.copyright {
    text-align: center;
    padding-top: 7px;
    margin-top: 15px;
    border-top: 1px solid #b2b2b2;
}
/* End Footer */

/* Responsive  */
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
        text-align: center;
        background: #fff5f2;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    .menu a:hover,
    .menu a.active {
        background: none;
        color: var(--clr-primary);
    }

    #hero-section {
        margin-top: 80px;
    }

    #hero-section .text {
        margin-left: auto;
    }

    .flex {
        flex-direction: column;
    }

    .visual,
    .text {
        width: 70%;
        margin: 15px auto;
        text-align: center;
    }

    .download,
    .user {
        flex-direction: row;
    }

    .user {
        justify-content: center;
    }

    .visual img {
        margin: 0 auto;
    }

    .box {
        margin: 15px 0;
    }

    .restaurant-menu {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .menu-item {
        width: 80%;
    }

    .primary {
        font-size: 56px;
    }

    .secondary {
        font-size: 40px;
    }

    .tertiary {
        font-size: 20px;
    }

    .footer-about {
        width: 100%;
        text-align: center;
    }

    .quick-links,
    .get-in-touch,
    .footer-category {
        display: none;
    }
}

@media (max-width: 680px) {
    .container {
        padding: 0 10px;
    }

    .text,
    .visual {
        width: 90%;
    }

    .restaurant-menu {
        grid-template-columns: 1fr;
    }

    .faq {
        width: 90%;
    }

    .app-store {
        margin: 10px 0;
    }

    .download {
        flex-direction: column;
    }

    .primary {
        font-size: 48px;
    }

    .secondary {
        font-size: 32px;
    }

    .tertiary {
        font-size: 17px;
    }
}
/* End Responsive  */


#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
}

.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #ebecee;
	border-radius: 4px;
	border: none;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #3e485c;
	font-size: 14px;
    padding: 0 7px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 4px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(62, 72, 92, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #fe5722;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.booking-cta p {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
}